body, html {
  height: 100%;
  background-color: #4ABDAC;
  color: #DFDCE3
}
.box {
   border-radius: 25px;
   margin-top: 32px;
   min-width: 250px;
   max-width: 75%;
   min-height: 250px;
   max-width: 75%;
   background-color: #FC4A1A;
}
.title {
  text-align: center;
  max-width: 25%;
  height: auto;
  border-radius: 25px;
  margin-top: 32px;
}
.btn-primary {
  background-color: #F78733 !important;
  border-color: #F78733 !important;
}
.border-width-8 {
  border-color: #F78733 !important;
  border-width: 8px !important;
}
#drag-text {
  text-align: center;
  vertical-align: middle;
  line-height: 250px;
}
.margins {
  margin: 16px 16px 16px 16px;
}
.img-thumbnail {
  border-color: #F78733 !important;
}
.drop {
  margin: 32px 16px 0px 16px;
}
.emoji-margin {
  margin: 8px 8px 8px 8px;
}
#copyAll{
  margin-left: 24px !important;
}
