body, html {
  height: 100%;
  background-color: rgb(211,211,211);
}

.box {
   border-radius: 25px;
   margin-top: 32px;
   min-width: 250px;
   max-width: 75%;
   min-height: 250px;
   max-width: 75%;
   background-color: rgba(147, 131, 108, 0.5);
}

.border-width-8 {
  border-color: #5c5c3d !important;
  border-width: 8px !important;
}

#drag-text {
  text-align: center;
  vertical-align: middle;
  line-height: 250px;
}

.margins {
  margin: 16px 16px 16px 16px;
}

.img-thumbnail {
  border-color: #5c5c3d !important;
}

.drop {
  margin: 32px 16px 0px 16px;
}
