body, html {
  height: 100%;
}
.bg {
  background-image: url('../Img/Background.png') !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
#drag-text {
  text-align: center;
  vertical-align: middle;
  line-height: 250px;
}
.border-width-8 {
  border-color: #ffa31a !important;
  border-width: 8px !important;
}
.box {
   border-radius: 25px;
   margin-top: 32px;
   min-width: 250px;
   max-width: 75%;
   min-height: 250px;
   max-width: 75%;
   background-color: rgba(147, 131, 108, 0.5);
}
.margins {
  margin: 16px 16px 16px 16px;
}
.drop {
  margin: 32px 16px 0px 16px;
}
